<div class="gameover">
<h1>
<span class="span-anima">&nbsp</span>
<span class="span-anima">&nbsp</span>
<span class="span-anima">G</span>
<span class="span-anima">a</span>
<span class="span-anima">n</span>
<span class="span-anima">a</span> 
<span class="span-anima">s</span>
<span class="span-anima">t</span>
<span class="span-anima">e</span>
<span class="span-anima">!</span>

<br>

<a href="<%= root_path %>" class="backhome">otra vez</a>
</h1>
</div>

<script type="text/javascript">  $(document).ready(function() {
$('.span-anima').addClass('span-on');
});
</script>