<footer>

<div class="fb">
</div>

	<div class="cright">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quod ratione illo dolore odio ea obcaecati placeat, beatae minima. 
	</div>

</footer>