<header>
	<div class="logo"></div>
	<nav>
		<div class="acc">
			<h4>Lautara</h4>
			<a href="" class="logout">logout</a>
			<div class="img-profile"></div>
				<ul>
				<li></li>
				<li></li>
				<li></li>
				</ul>
		</div>		
	</nav>
</header>