
<div class="map">
	

	<a href="<%= game_play_path %>" class="flag chile"></a>
	<a href="<%= root_path %>" class="flag argentina csoon"></a>
	<a href="<%= root_path %>" class="flag usa csoon"></a>
	<a href="<%= root_path %>" class="flag brasil csoon"></a>
</div>


